<launch>

	<!-- ========================================================== -->
	<!-- Source images for Kinefly.                                 -->
	<!-- ========================================================== -->
    <param name="use_sim_time"                 type="bool" value="false"/>

    
    <include file="$(env RIG)/camera_pgr_fc2.launch" />
    <include file="$(env RIG)/params_camera.launch" ns="camera/camera_nodelet" />

    <!-- Get and publish the voltage signals from hardware. --> 
    <!--
    <node name="interfacekit"  pkg="phidgets" type="phidgets_interfacekit.py" ns="stimulus" required="true" />
    <node name="acquirevoltages2msg" pkg="Kinefly"  type="acquirevoltages2msg.py" ns="stimulus" required="true" />
    -->


</launch>
